body {
    color:white;
    background-color:black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    }
    
#board { grid-area: 1 / 1 / 4 / 3; 
border:solid 1px white;
}
#yourcard { grid-area: 4 / 1 / 7 / 6;
    border:solid 1px blue;
    display: flex;
    flex-wrap: wrap;
 }
#draw { grid-area: 1 / 5 / 4 / 6;
    border:solid 1px blueviolet; 
}
#combine { grid-area: 1 / 3 / 4 / 5; 
    border:solid 1px yellow;
}

.card{
    color : red;
    margin: 1%;


}