body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: Calibri;
    font-weight: bold;

}
    
#board {
    grid-area: 1 / 1 / 2 / 3;
    display: inline-block;
}

#board>img {
    width: 200px;
    height: auto;

}

#yourcard {
    grid-area: 2 / 1 / 3 / 7;
    display: flex;
    flex-wrap: wrap;
    background-color: #162c16;
    color: white;

}

#draw {
    padding: 5%;
    grid-area: 1 / 5 / 2 / 7;
}

#combine {
    padding: 5%;
    grid-area: 1 / 3 / 2 / 5;
}

.card{
    margin: 1%;
}

.leave {
    bottom: 0;
    right: 0;
    padding: 10px;
    position: fixed;
    background-color: darkred;
}