body {
    color:white;
    background-color:black;
}

.logo{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.newgame{
    margin-left: 7%;
}

#regle{
    text-align: center;
}