body {
    color:white;
    background-color:black;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.newgame{
    margin-left: 7%;
}

#regle{
    text-align: center;
}

#regle>img{
    width: 350px;
    height: 550px;
}