<!DOCTYPE html>

<html lang="fr">
<head>
<link rel="stylesheet" href="css/app.css" >
</head>
<body>
<div id="board">plateau</div>
<div id="combine">combiner

<form action="/combine" method="post">
 <p>First card: <input type="text" name="FirstcardId" /></p>
 <p>Second card: <input type="text" name="SecondcardId" /></p>
 <p><input type="submit" /></p>
</form>


</div>



<div id="draw">
<form action="/" method="post">
 <p>Your card: <input type="text" name="cardId" /></p>
 <label>{{value}}</label>
 <p><input type="submit" /></p>
</form>
pioche</div>




<div id ="yourcard">carte dispo

{% for card in tabCard %}
    <div class = "card">{{card}} </div>
{% endfor %}

</div>

</body>
</html>
