<!DOCTYPE html>

<html lang="fr">
    <head>
        <link rel="stylesheet" href="css/app.css" >
    </head>
    <body>
        <div id="board">
            <img src="deck_cartes_unlock/chambre_hotel.png" alt="hotel room">
        </div>

        <div id="combine">COMBINE
            <form action="/combine" method="post">
                 <p>First card: <input type="text" name="combineFirst" /></p>
                 <p>Second card: <input type="text" name="combineSecond" /></p>
                 <label>{{combineMessage}}</label>
                 <p><input type="submit" /> </p>
            </form>
        </div>

        <div id="draw">DRAW/DISCARD
            <form action="/draw" method="post">
                 <p>Insert the card number you want to add: <input type="text" name="cardId" /></p>
                 <label>{{value}}</label>
                 <p><input type="submit" /></p>
            </form>

            <form action="/discard" method="post">
                 <p>Insert the card number you want to discard: <input type="text" name="cardIdDiscard" /></p>
                 <label>{{message}}</label>
                 <p><input type="submit" /></p>
            </form>
        </div>

        <div id ="yourcard">
            GAMEBOARD

            {% for card in tabCard %}
                <img class="card" src="{{card}}" alt="card" width="180" >
            {% endfor %}
        </div>

        <div class="leave">
            <form action="/" method="get">
                <input type="submit" value="Leave game" />
            </form>
        </div>


    </body>
</html>
