<!DOCTYPE html>

<html lang="fr">
<head>
<link rel="stylesheet" href="css/homepage.css" >
</head>
<body>
    <div class="logo">
        <img src="/img/logo_unlock.png" alt="Unlock logo">
    </div>
    <div class="buttons">
        <form action="/game" method="get">
            <input type="submit" value="Resume game"/>
        </form>
        <form action="/newgame" method="post">
            <input class="newgame" type="submit" value="Start a new game"/>
        </form>
    </div>
    <div id="regle">
            <img src="deck_cartes_unlock/l_elite.png" alt="start" >
    </div>
</body>
</html>