<!DOCTYPE html>

<html lang="fr">
<head>
<link rel="stylesheet" href="css/homepage.css" >
</head>
<body>
    <div class="logo">
        <img src="/img/logo_unlock.png" alt="Unlock logo">
    </div>
    <div class="buttons">
        <form action="/game" method="get">
            <input type="submit" value="Resume game"/>
        </form>
        <form action="/newgame" method="post">
            <input class="newgame" type="submit" value="Start a new game"/>
        </form>
    </div>
    <br>
    <div id="regle">
            <p>If you want to play you will need to download the app "Unlock" on a mobile device.</p>
            <p>Currently, the playable deck is one of the demo adventure, "L'élite".</p>
            <img src="deck_cartes_unlock/l_elite.png" alt="start" >
            <p>If you need more information, please check the official web site of <a href="https://www.spacecowboys.fr/unlock-demos">unlock</a>.</p>
    </div>
</body>
</html>